<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <!-- SQL sever configuration attached apart -->
    <connectionStrings>
      <add name="ConString" connectionString="Data Source = THARINDALAP; Initial Catalog = sampledb; Trusted_Connection = True" providerName="System.Data.SqlClient"/>
    </connectionStrings>

</configuration>